body {
    background-color: #181818;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.2em;
    color: #aaaaaa;
    margin: 0;
}

input {
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
}

h1 {
    line-height: 1.2em;
    font-size: 1.8em;
    text-align: center;
}

h1, h3 {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

button {
    background: #282828;
    color: #aaaaaa;
    border: none;
}

code {
    background: #282828;
    padding: 5px;
}

a {
    color: #aaaaaa;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

a:hover {
    color: #ac4242;
    text-decoration: none;
}

.section {
    padding: 150px;

    max-width: 1250px;
    margin: 0 auto 0 auto;
}

@media (max-width:1000px)  {
    .section {
      padding: 25px;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;

    max-width: 1250px;
    margin: 0 auto 0 auto;
}

#header a {
    text-decoration: none;
}

@media (max-width:750px)  {
    #header {
        flex-direction: column;
    }
}

#nav {
    display: flex;

    list-style: none;
    padding: 0;
}

#nav > li {
    margin: 0 15px;
}

#about {
    display: flex;
    align-items: center;
}

@media (max-width:1000px)  {
    #about {
        flex-direction: column;
    }
}

#pinephone {
    background-image: url("../img/catacomb.png");
    background-repeat: no-repeat;
    background-position: 41% 50%;
    background-size: 90% 86%;
    margin: 50px 50px 50px 150px;
    width: 250px;
}

@media (max-width:1000px)  {
    #pinephone {
        margin: 50px;
    }
}

.svg-section {
    background-color: #282828;
}

.svg-section > .section {
    display: flex;
    align-items: center;
}

.svg-section > .section > img {
    width: 100px;
    padding: 50px;
}

.svg-section > .section > div {
    margin-left: 150px;
}

.svg-section ul {
    list-style: square;
}

@media (max-width:1000px)  {
    .svg-section > .section > img {
        display: none;
    }

    .svg-section > .section > div {
        margin-left: 0;
    }
}

@media (min-width:1001px)  {
    #applications-intro {
        padding-bottom: 50px;
    }
}

.application {
    display: flex;
    align-items: center;
}

.application img {
    border: 5px solid #752a2a;
    width: 300px;
}

@media (max-width:750px)  {
    .application img {
        width: 200px;
    }
}

.application-img-left img {
    margin: 0px 150px 0px 50px;
}

.application-img-right img {
    margin: 0px 50px 0px 150px;
}

@media (max-width:1000px)  {
    .application-img-left {
        flex-direction: column-reverse;
    }

    .application-img-right {
        flex-direction: column;
    }

    .application img {
        margin: 50px;
    }
}
