body {
  padding: 40px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container p {
  text-align: justify;
  max-width: 750px;
}

.option-groups {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.submit-button-container button {
  background: #282828;
  color: #aaaaaa;
  padding: 15px;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  text-align: center;
  padding: 25px;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
}

.popup-buttons button {
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 15px;
}

#img-md5sum {
  margin-left: 10px;
}

.alpha {
  display: inline-block;
  color: #f4bf75;
  margin: unset;
}

.instructions {
  padding-top: 50px;
  text-align: left;
}

.list-separator {
  list-style: none;
  height: 1em;
}
